<html>

<% include header %>

<body class="container">
    <div class="" id="app">
        <div class="" style="margin: 20px;">
            <div class="text-right">
                <p>Chào {{user.name}}, <a href="/logout">đăng xuất</a></p>
            </div>
        </div>
        <div class="text-center" style="margin-bottom: 10px">
            <button @click="start()" class="btn btn-primary">Bắt đầu xem</button>
        </div>

        <!-- Cho xem camera day nha -->
        <div class="row">
            <div class="col-lg-4 col-md-4 well" v-for="camera in cameras">
                <view-camera :id_video="camera.attributes._id" :title_video="camera.attributes.title" :alias_camera="camera.attributes.alias"></view-camera>
                <!-- <button @click="start_element(camera.attributes)">Xem</button> -->
            </div>
        </div>
        <div class="text-right">
            <p><i>TRƯỜNG MẦM NGON NGỌC HOÀNG - TRẢNG DÀI</i></p>
        </div>
    </div>
    <script src="/javascripts/video.js"></script>
    <script type="text/javascript">
        var Camera = Backbone.Model.extend({
            urlRoot: "/cameras",
            idAttribute: "_id"
        })
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                uris: [],
                choice: "",
                urlss: window.location.origin + "/video?id=camera1",
                idVideos: [{
                    id: "black",
                    title: "Lá 1"
                }, {
                    id: "blue",
                    title: "Mầm 1"
                }, {
                    id: "green",
                    title: "Chồi 2"
                }],
                user: {},
                group: {},
                cameras :[]
            },
            mounted: function () {
            },
            created() {
                fetch("http://door.creta.work:8888/list").then((res) => {
                    res.json().then((a) => {
                        console.log(a);
                        this.uris = a;
                    })
                })
            },
            methods: {
                change: function () {
                    var url = "http://door.creta.work:8888/stream/" + this.choice.split("/")[2] +
                        "/index.m3u8";
                    this.idVideos.forEach(function (ivideo) {
                        video_hls(ivideo.id, url)
                    })

                },
                start: function(){
                    app.cameras.forEach(function(camera){
                        video_hls(camera.attributes._id, "http://door.creta.work:8888/stream/" + camera.attributes.alias + "/index.m3u8");
                    });
                },
                start_element: function(camera){
                    console.log(camera);
                    video_hls(camera._id, "http://door.creta.work:8888/stream/" + camera.alias + "/index.m3u8");
                }
            },
            created: function(){
                fetch("/info").then((resp)=>resp.json()).then(function(data){
                    app.user = data;
                    fetch("/groups/" + data.room).then((resp1)=>resp1.json()).then(function(data1){
                        app.group = data1;
                        app.group.cameras.forEach(function(camera){
                            var cam = new Camera({_id: camera});
                            cam.fetch({
                                success: function(){
                                    app.cameras.push(cam)
                                }
                            });

                        })
                    }).catch(function(err1){
                        console.log(err1);
                    })
                }).catch(function(err){
                    console.log(err);
                }) 
            }

        })
    </script>
</body>

</html>