<div id="sidebar">
    <h4>BẢNG ĐIỀU KHIỂN</h4>
    <ul class="nav nav-pills nav-stacked">
        <libar v-for="libar in o_sidebar" :cclass="libar.class" :chref="libar.href" :ccontent="libar.content"></libar>
    </ul><br>
</div>

<script>
    Vue.component('libar', {
        props: ['cclass', 'ccontent', 'chref'],
        data: function () {
            return {

            }
        },
        template: `
            <li :class="cclass"><a :href="chref">{{ccontent}}</a></li>
        `
    })
    var sidebar = new Vue({
    el: '#sidebar',
    data: {
        message: 'Hello Vue!',
        o_sidebar: [
            {
                href: "/manager/choi1",
                content: "Chồi 1",
                class: "active"
            },
            {
                href: "/manager/la2",
                content: "Chồi 2",
                class: ""
            },
            {
                href: "/manager/mam3",
                content: "Mầm 3",
                class: ""
            },
            {
                href: "/manager/mam2",
                content: "Mầm 2",
                class: ""
            },
            {
                href: "/manager/nhatre",
                content: "Nhà trẻ",
                class: ""
            }
        ]
    },created() {
  console.log(this.$el);
},
mounted() {
    this.o_sidebar.forEach(function(liba){
        console.log(liba);
        if(liba.href == location.pathname){
            liba.class="active"
        } else {
            liba.class=""
        }
    })
    console.log(this.$el);
}
    })
</script>